node_modules
eslint.config.mjs
package-lock.json
tmp/uploads/*.png
tmp/uploads/*.jpg
tmp/uploads/*.jpeg
tmp/uploads/*.gif
tmp/*.png
tmp/*.jpg
tmp/*.jpeg
tmp/*.gif

src/database/database.db

.env
.prettierrc
.editorconfig